/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

canvas {
	position:absolute;
	z-index:-1;
	border-color:#000000;
	border-width:1px;
	border-style: solid;
}


button {
	position:absolute;
	z-index:2;	
}

button.start {
	top:200px;
	left:265px;
	font-size: 30px;
	margin-left:auto;
	margin-right:auto;
}

.gwt-Label {
	margin-left: 10px;
	font-weight: bold;	
}
